<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>Каталог</title>
</head>
<body style="background-color: #787b94">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/firstapp/">ООО "Оверпрайс"</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/firstapp/catalog">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/firstapp/cart">Корзина</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-md">
        <div class="row row-cols-md-2 row-cols-sm-1 gap-3">
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div> 
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div> 
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div> 
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div> 
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div> 
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div>
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div> 
            <div class="card mx-auto col" style="width: 18rem;">
                <img src="https://i.pinimg.com/736x/94/72/a6/9472a684b59485064cd128c718313a86.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <a href="/firstapp/about" class="btn btn-primary">О товаре</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>